body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #101010;
}

.App {
  color: white;
  background-color: #202020;
  margin: auto;
  padding: 10px;
  width: 550px;
  border-radius: 10px;
  font-size: 25px;
  font-family: Andale Mono;
  height: 450px;
}

.transactionForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.currencyLabel {
  margin-bottom: 25px;
  float: left;
}

.networkLabel {
  margin-bottom: 25px;
  float: right;
}

.amountLabel {
  margin-top: 60px;
}

.sendButton {
  margin-top: 60px;
  color:rgb(8, 58, 92);
  background-color: aliceblue;
  font-weight: bold;
  padding: 10px;
  border-radius: 7px;
  font-size: 25px;
  font-family: Andale Mono;
}


.formInput {
  padding: 10px;
  border-radius: 5px;
  font-size: large;
}

.NotConnectedApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connectButton {
  color:rgb(8, 58, 92);
  background-color: aliceblue;
  font-weight: bold;
  padding: 10px;
  border-radius: 7px;
  font-size: 40px;
  font-family: Andale Mono;
}

.buttonLabel {
  padding-bottom: 50px;
  font-size: 40px;
  font-family: Andale Mono;
  color: white;
}

.priceLabel {
  margin-bottom: 25px;
}